.aside_top {
  margin-top: 28px;
}
.aside_top .tit {
  font-size: 20px;
  height: 30px;
  overflow: hidden;
}
.aside_top .sub-tit {
  font-size: 14px;
  color: #969696;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  margin-bottom: 10px;
}
.aside_top .sub-tit i {
  display: inline-block;
  background: #4acbff;
  line-height: 14px;
  padding: 2px 4px;
  font-size: 14px;
  font-family: "MV Boli";
  color: #fff;
  border-radius: 4px;
}
.aside_top ul {
  position: relative;
  overflow: hidden;
  padding-right: 5px;
  line-height: 26px;
  margin-top: 15px;
  padding-bottom: 22px;
  border-bottom: 1px dotted #c8c8c8;
}
.aside_top ul li.top1 {
  height: 106px;
  margin-bottom: 5px;
  background-color: #fff;
}
.aside_top ul li.top1 a {
  width: 100%;
  overflow: hidden;
  padding-left: 8px;
}
.aside_top ul li.top1 a .author {
  margin-left: 79px;
}
.aside_top ul li.top1 a .icon-top1 {
  margin-left: 6px;
}
.aside_top ul li.top1 span {
  color: #ed5565 !important;
}
.aside_top ul li.top2 span {
  color: #f28893 !important;
}
.aside_top ul li.top3 span {
  color: #f8bbc1 !important;
}
.aside_top ul li {
  position: relative;
  overflow: hidden;
  height: 26px;
  padding-right: 5px;
  line-height: 26px;
}
.aside_top ul li a {
  width: 173px;
  overflow: hidden;
  display: block;
  padding-left: 8px;
}
.aside_top ul li a img.img {
  float: left;
  width: 80px;
  height: 106px;
  border-radius: 3px;
}
.aside_top ul li span {
  position: absolute;
  right: 5px;
  bottom: 0;
}
.aside_top ul li .icon-top1 {
  margin-top: 12px;
  background: #ed5565 !important;
}
.aside_top ul li i.icon-top2 {
  background: #f28893 !important;
}
.aside_top ul li i.icon-top3 {
  background: #f8bbc1 !important;
}
.aside_top ul li i.icon-top {
  display: inline-block;
  background: #b4b4b4;
  width: 18px;
  padding: 0 4px;
  margin-right: 2px;
  height: 15px;
  font-size: 14px;
  font-family: "MV Boli";
  text-align: right;
  line-height: 15px;
  color: #fff;
  border-radius: 4px;
}
.aside_top ul li .top1 p {
  width: 66%;
  padding-left: 2px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.aside_top ul li p.author {
  width: 60%;
  padding-left: 8px;
  color: #969696;
}
.aside_top ul li span {
  float: right;
  margin-left: 10px;
}
